block footer
    section.footer
        .subscription
            .container
                .row
                    .col-md-8.p-5.font-weight-bold.d-flex.align-items-center
                        img(src="/images/logo-light.svg", alt="" height="40px" width="40px")
                        span.text-white.mx-3.h4.mb-0 訂閱你我的甜蜜郵件
                    .col-md-4.p-5
                        <div class="input-group">
                            <div class="input-group-prepend">
                            <div class="input-group-text"><i class="fas fa-envelope"></i></div>
                            </div>
                            <input type="text" class="form-control form-control-lg rounded-0" id="inlineFormInputGroupUsername2" placeholder="Email">
                            <button type="submit" class="btn btn-sweet btn-lg rounded-0"><i class="fas fa-arrow-right"></i></button>
                        </div>
        .footers.container
            .row.py-5
                .col-6.d-flex.justify-content-between.flex-column
                    img(src="/images/logotype-sm-dark.svg", alt="" width="171.22px")
                    ul.list-unstyled.footers-text
                        li
                            | 07-1234-5678
                        li
                            a(href="http://")
                                | sweetaste@email.com
                        li
                            | 800 高雄市新興區幸福路 520 號
                .col-6.text-right
                    img(src="/images/sm-今天是個吃甜點的好日子.svg", alt="" width="59.28px" height="218.69px")
            .row.py-3
                .col-6
                    img(src="/images/ic-facebook.svg", alt="" width="32px" height="32px")
                    | 
                    img(src="/images/ic-line@.svg", alt="" width="32px" height="32px")
                .col-6.d-flex.justify-content-end.align-items-center
                    .copyright
                        | © 2018 Sweetaste* All Rights Reserved
        





    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js', integrity='sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T', crossorigin='anonymous')
    script(src="js/all.js")