mixin link(name,url)
	if(path === url)
		li.nav-item.font-weight-bold.active
			a.nav-link.topmain.active.p-6(href=url)
				| #{name}
	else
		li.nav-item.font-weight-bold
			a.nav-link.topmain.p-6(href=url)
				| #{name}

nav.navbar.navbar-expand-lg.navbar-light.p-6
	a.navbar-brand(href='index.html')
		img(src='/images/logo-all-dark.svg', alt='', height='40px')
	button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
		span.navbar-toggler-icon
	#navbarNavDropdown.collapse.navbar-collapse
		ul.navbar-nav.ml-auto
			each item in menu.list
				+link(item.name,item.url)
			li.nav-item.font-weight-bold.topmain
				a.nav-link.p-6(href="cart.html")
					| <i class="fas fa-shopping-cart"></i>
