@import "mixin";
.cart-card{
    background-color: $hex-sweet;
    color:$white;
    @media (max-width:768px) {
        background-color: $white;
        color:$hex-sweet;
        .card-header{
            background-color: $sweet-cover !important;
            
        }
        hr{
            border: 0;
        }
    }
}
.product-total{
    border:0px solid transparent;
    @media (max-width:768px) {
        border-top:1px solid $sweet-cover;
        border-bottom:1px solid $sweet-cover;
    }
}
.process{
    position: relative;
    .circle{
        height: 20px;
        width: 20px;
        border: 1px solid $white;
        border-radius: 50%;
        background-color: $hex-sweet;
        color:$white;
        z-index: 1;
    }
    .fas.fa-check-circle::before{
        font-size: 20px
     }
     .circle.active{
        content: "";
        background-color: $white;
        display: block;
        border-radius: 50%;
     }
     .line{
        border-top: 2px solid #EAF0ED;
        width: 100%;
        position: absolute;
        left: 0px;
        top: 45%;
        z-index: 0;
     }
}

.invoice-groud{
    height: 56px;
    .btn-e-invoice,.btn-invoice-addr{
        text-decoration: none;
        transition: all 0.5s;
    }
    .btn-invoice:hover,.btn-invoice-addr:hover,a.active{
        background-color: #EAF0ED;
        color: #3F5D45;
        transition: all 0.5s;
    }
}

.cartSuccess{
    background-image: url(../images/banner/banner-3.jpg);
    @include bg-cover;
    width: 100%;
    height: 500px;
    .process-success{
        position: relative;
        .circle{
            height: 20px;
            width: 20px;
            border-radius: 50%;
            background-color: $white;
            color:$hex-sweet;
            z-index: 1;
        }
        .fas.fa-check-circle::before{
            font-size: 20px
         }
         .circle.active{
            content: "";
            background-color: $hex-sweet;
            display: block;
            border-radius: 50%;
         }
         .line{
            border-top: 2px solid $hex-sweet;
            width: 100%;
            position: absolute;
            left: 0px;
            top: 45%;
            z-index: 0;
         }
    }
    .message-success{
        background-image: url(../images/lg-付款成功.svg);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 46px;
        width: 189px;
    }
}
.btn-block-m{
    @media (max-width:768px) {
    margin-right: -10px;
    margin-left:-10px;
    }
}