@import "mixin";
.banner{
    background-image: url(../images/banner/banner.jpg);
    @include bg-cover();
    height: 496px;
    @media (max-width:768px) {
        height: 277px;
    }
}
.banner-bg-today{
    position: relative;
    background-image: url(../images/btn-main/btn-main-1.jpeg);
    @include banner-btn-bg();
}
.banner-bg-hot{
    background-image: url(../images/btn-main/btn-main-2.jpeg);
    @include banner-btn-bg();
}
.banner-bg-new{
    background-image: url(../images/btn-main/btn-main-3.jpeg);
    @include banner-btn-bg();
}
.banner-btn{
    overflow: hidden;
    transform: translateY(-60px);//也可以使用margin-top:-60px;
    @media (max-width:768px) {
        transform: translateY(0px)
    }
}
.banner-btn-bg{
    background-color: $hex-sweet;
    opacity: .85;
    @include banner-text-vertical();
    @include banner-position();
    transition: all .3s;
    &:hover,&.active{
        background-color: $sweet;
        color:$hex-sweet;
        opacity: .8;
    }
}

.hex-candy{
    padding-top: 50px;
    padding-bottom: 50px;
    @media (max-width:768px) {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}
.reason1{
    background-color: #EAF0ED;
    position: relative;
    .reason1-bg{
        max-height: 420px;
    }
    .reason1-text{
        position: absolute;
        padding: 3% 15px;
        letter-spacing: 10px;
        writing-mode: vertical-rl;
        color:$hex-sweet;
        line-height: 26px;
        right: 200px;
        @media (max-width:768px){
            position: relative;
            writing-mode: horizontal-tb;
            right: 0px;
            line-height: normal;
        }
    }
    .reason1-img{
        background-image: url(../images/reason1.jpg);
        @include bg-cover();
        height: 460px;
        margin-top:-20px;
        //transform: translateY(-20px);
        @media (max-width:768px){
            height: 260px;
            position: relative;
            writing-mode: horizontal-tb;
            margin-top:0px;
            //transform: translateY(0px);
            right: 0px;
        }
    }
    img{
        right: 40px;
        position: absolute;
    }
}

.reason2{
    background-color: #EAF0ED;
    position: relative;
    .reason2-bg{
        max-height: 420px;
    }
    .reason2-text{
        position: absolute;
        padding: 3% 15px;
        letter-spacing: 10px;
        writing-mode: vertical-rl;
        color:$hex-sweet;
        line-height: 26px;
        right: 200px;
        @media (max-width:768px){
            position: relative;
            writing-mode: horizontal-tb;
            right: 0px;
            line-height: normal;
        }
    }
    .reason2-img{
        background-image: url(../images/reason2.jpg);
        @include bg-cover();
        height: 460px;
        transform: translateY(-20px);
        @media (max-width:768px){
            height: 260px;
            position: relative;
            writing-mode: horizontal-tb;
            transform: translateY(0px);
            right: 0px;
        }
    }
    .sweet-text-img{
        right: 40px;
        position: absolute;
    }
}
.sweetImg{
    transform: translateY(-20px)
}
.need-eat-candy{
    background-image: url(../images/sm-想吃甜點是不需要理由的.svg);
    @include bg-cover();
    margin: 90px auto;
    width: 89px;
    height: 328px;
}
.card-images{
    position: relative;
    .today-hot{
        position: absolute;
        background-color: $hex-sweet;
        color:$sweet-cover;
        top:0;
        left: 10px;
        writing-mode: vertical-lr;
        height: 107px;
        width: 36px;
        line-height: 36px;
    }
    .add-like-list{
        position: absolute;
        top: 19px;
        right: 20px;
        font-size: 20px;
        color: $hex-sweet;
        cursor: pointer;
    }
}
