@import "mixin";
.banner{
    background-image: url(../images/banner/banner.jpg);
    @include bg-cover();
    height: 496px;
    @media (max-width:768px) {
        height: 277px;
    }
}
.banner-bg-today{
    @include banner-btn-bg();
}
.banner-bg-hot{
    @include banner-btn-bg();
}
.banner-bg-new{
    @include banner-btn-bg();
}
.banner-btn{
    overflow: hidden;
    margin-top:-60px;
    //transform: translateY(-60px);//也可以使用margin-top:-60px;
    @media (max-width:768px) {
        //transform: translateY(0px)
        margin-top:0px;
    }
}
.banner-btn-bg{
    background-color: $hex-sweet;
    opacity: .85;
    @include banner-text-vertical();
    @include banner-position();
    transition: all .3s;
    &:hover,&.active{
        background-color: $sweet;
        color:$hex-sweet;
        opacity: .8;
    }
}

.hex-candy{
    margin-top: 50px;
    margin-bottom: 50px;
    @media (max-width:768px) {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.bg-reason{
    background-color: $sweet-cover;
}
.reason-img-bg{
    margin-top: -25px;
    margin-bottom: -25px;
    min-height: 250px;
    @media (max-width:768px){
        margin-top: 0px;
        margin-bottom: 0px;
    }
}
.bg-cover{
    background-size: cover;
    background-position: center center;
}
.reason{
    @media (max-width:768px){
        margin-right: -15px;
        margin-left: -15px;
    }
}
.reason-text{
    max-height: 420px;
    letter-spacing: 10px;
    writing-mode: vertical-rl;
    color:$hex-sweet;
    line-height: 26px;
    @media (max-width:768px){
        writing-mode: horizontal-tb;
        line-height: normal;
    }
}
.sweetImg{
    transform: translateY(-25px)
}
.need-eat-candy{
    background-image: url(../images/sm-想吃甜點是不需要理由的.svg);
    @include bg-cover();
    margin: 90px auto;
    width: 89px;
    height: 328px;
}
.card-images{
    position: relative;
    .today-hot{
        position: absolute;
        background-color: $hex-sweet;
        color:$sweet-cover;
        top:0;
        left: 10px;
        writing-mode: vertical-lr;
        height: 107px;
        width: 36px;
        line-height: 36px;
    }
    .add-like-list{
        position: absolute;
        top: 19px;
        right: 20px;
        font-size: 20px;
        color: $hex-sweet;
        cursor: pointer;
    }
}

.load-page{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: $sweet-cover;
    .page-logo{
        position: absolute;
        top:30%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: loading 600ms ease 375ms infinite alternate;
    }
    .page-text{
        position: absolute;
        width: 345px;
        height: 30px;
        top: 50%;
        left: 50%;
        margin: -15px 0 0 -150px;
    }
    .logo{
        position: absolute;
        bottom: 30%;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .page-text > div {
        display: inline-block;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        font-family: Verdana;
        font-size: 20px;
        color: #FFF;
    }
    .preloader-box:nth-child(1){
        background: $sweet;
        margin-right: 15px;
        animation: movement 600ms ease 0ms infinite alternate;
    }
    .preloader-box:nth-child(2){
        background: $sweet;
        margin-right: 15px;
        animation: movement 600ms ease 75ms infinite alternate;
    }
    .preloader-box:nth-child(3){
        background: $sweet;
        margin-right: 15px;
        animation: movement 600ms ease 150ms infinite alternate;
    }
    .preloader-box:nth-child(4){
        background: $sweet;
        margin-right: 15px;
        animation: movement 600ms ease 225ms infinite alternate;
    }
    .preloader-box:nth-child(5){
        background: $sweet;
        margin-right: 15px;
        animation: movement 600ms ease 300ms infinite alternate;
    }
    .preloader-box:nth-child(6){
        background: $sweet;
        margin-right: 15px;
        animation: movement 600ms ease 375ms infinite alternate;
    }
    .preloader-box:nth-child(7){
        background: $sweet;
        margin-right: 15px;
        animation: movement 600ms ease 425ms infinite alternate;
    }
}

@keyframes loading{
    form{
        top:30%;
    }
    to{
        top:20%;
    }
}
@keyframes movement{
    from {
        transform: scale(1.0) translateY(0px) rotateX(0deg);
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    to {
        transform: scale(1.5) translateY(-25px) rotateX(45deg);
        box-shadow: 0 25px 40px rgba(0, 0, 0, 0.4);
        background: $hex-sweet;
    }
}