@import "variable";

.logo{
    background-image: url("/images/logo-all-dark.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 219px;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}
.nav-link{
    color:$hex-sweet;
}


