@import "mixin";
.product-banner{
    background-image: url(../images/banner/banner-2.jpg);
    @include bg-cover();
    height: 496px;
}
.product-banner-header{
    position: relative;
}
.product-image-text{
    position: absolute;
    right: 40px;
    top: 40px;
}