@import "bootstrap";

$hex-sweet:#3F5D45;
.logo{
    background-image:url(/images/logo-all-dark.svg);
    height: 100px;
    width: 219px;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    text-indent: 101%;
    white-space: nowrap;
}
.nav-link-sweet{
    color:$hex-sweet !important;
    font-weight: bold;
    &:hover,&.active{
        color:$white !important;
        background-color: $hex-sweet;
    }
}