@import "functions";
@import "variables";
@import "mixins";
@import "bootstrap";

/*layout*/
.topmain{
    font-weight: bold;
    color:$hex-sweet !important;
    &:hover{
        background-color: $hex-sweet;
        color:$white !important;
    }
    &.active{
        background-color: $hex-sweet;
        color:$white !important;
    }
}
.footer{
    background-color: $sweet-cover;
    .subscription{
        background-color: $hex-sweet;
    }
    input{
        border:0px !important;
    }
    .input-group-text{
        background-color:$white !important;
        color:$hex-sweet;
    }
    .copyright{
        color:$hex-sweet;
        
    }
}