extend layout/layout.pug
block navbar
    - var path = "cart.html"
    include layout/navbar.pug
block content
    .load-page#load-page
        .page-logo
            img(src="./images/logo-dark.svg", alt="", srcset="" height= "50px" width= "50px")
        .page-text
            .preloader-box L
            .preloader-box O
            .preloader-box A
            .preloader-box D
            .preloader-box .
            .preloader-box .
            .preloader-box .
        .logo
            img(src="./images/logo-all-dark.svg", alt="", srcset="" width= "215px")
    .container.hex-candy.px-0
        .row.no-gutters.px-2
            .col-md-8
                h3.bg-sweet-cover.text-hex-sweet.text-center.py-3 您的購物車
                .row.no-gutters.align-items-center.py-4
                    .col-4.col-md-2
                        img.img-fluid.mr-4(src="./images/choice-list/item1.jpg", alt="" )
                    .col-8.col-md-6
                        .row.no-gutters.align-items-center.px-4
                            .col-12.col-md-6.text-center.h4.m-0.py-2
                                .text-hex-sweet
                                    | 焦糖馬卡龍 
                                    br
                                    | NT$ 450
                            .col-12.col-md-6
                                .input-group
                                    .input-group-prepend
                                        button.btn.btn-outline-hex-sweet.btn-lg.rounded-0.disabled(type='button') +
                                    input.form-control.form-control-lg.text-center(type='text', placeholder='1', aria-label='', aria-describedby='basic-addon1')
                                    .input-group-prepend
                                        button.btn.btn-outline-hex-sweet.btn-lg.rounded-0(type='button') -
                    .col-12.col-md-4.d-flex.justify-content-end.align-items-center.product-total
                        .text-hex-sweet.font-weight-bold.h4.m-0.p-2
                            | NT$ 900
                        .cart-clean
                            a.fas.fa-times.p-0.p-lg-6.topmain.d-none.d-md-block(href='#')
                .row.no-gutters.align-items-center.py-4
                    .col-4.col-md-2
                        img.img-fluid.mr-4(src="./images/choice-list/item2.jpg", alt="" )
                    .col-8.col-md-6
                        .row.no-gutters.align-items-center.px-4
                            .col-12.col-md-6.text-center.h4.m-0.py-2
                                .text-hex-sweet
                                    | 焦糖馬卡龍 
                                    br
                                    | NT$ 450
                            .col-12.col-md-6
                                .input-group
                                    .input-group-prepend
                                        button.btn.btn-outline-hex-sweet.btn-lg.rounded-0(type='button') +
                                    input.form-control.form-control-lg.text-center(type='text', placeholder='1', aria-label='', aria-describedby='basic-addon1')
                                    .input-group-prepend
                                        button.btn.btn-outline-hex-sweet.btn-lg.rounded-0(type='button') -
                    .col-12.col-md-4.d-flex.justify-content-end.align-items-center.product-total
                        .text-hex-sweet.font-weight-bold.h4.m-0.p-2
                            | NT$ 900
                        .cart-clean
                            a.fas.fa-times.p-0.p-lg-6.topmain.d-none.d-md-block(href='#')
                .row.no-gutters.align-items-center.py-4
                    .col-4.col-md-2
                        img.img-fluid.mr-4(src="./images/choice-list/item3.jpg", alt="" )
                    .col-8.col-md-6
                        .row.no-gutters.align-items-center.px-4
                            .col-12.col-md-6.text-center.h4.m-0.py-2
                                .text-hex-sweet
                                    | 焦糖馬卡龍 
                                    br
                                    | NT$ 450
                            .col-12.col-md-6
                                .input-group
                                    .input-group-prepend
                                        button.btn.btn-outline-hex-sweet.btn-lg.rounded-0(type='button') +
                                    input.form-control.form-control-lg.text-center(type='text', placeholder='1', aria-label='', aria-describedby='basic-addon1')
                                    .input-group-prepend
                                        button.btn.btn-outline-hex-sweet.btn-lg.rounded-0.disabled(type='button') -
                    .col-12.col-md-4.d-flex.justify-content-end.align-items-center.product-total
                        .text-hex-sweet.font-weight-bold.h4.m-0.p-2
                            | NT$ 900
                        .cart-clean
                            a.fas.fa-times.p-0.p-lg-6.topmain.d-none.d-md-block(href='#')
            .col-md-4.px-md-4
                .card.text-center.border-0.cart-card
                    .card-header.border-0.h3.p-5
                        | 訂單摘要
                        hr.border-white.mb-0
                    .card-body
                        .d-flex.justify-content-between
                            p.card-title
                                | 小計
                            p.card-text
                                | NT$ 2,700
                        .d-flex.justify-content-between
                            p.card-title
                                | 運費
                            p.card-text
                                | NT$ 300
                        .d-flex.justify-content-between.font-weight-bold.h5
                            p.card-title
                                | 總計
                            p.card-text
                                | NT$ 3,000
                    a.btn.btn-sweet.btn-lg.text-hex-sweet.font-weight-bold.rounded-0.btn-block-m(href='checkOut1.html') 結帳
block footer
    include layout/footer.pug