extend layout/layout.pug
block navbar
    - var path = "checkOut3.html"
    include layout/navbar.pug
block content
    section.container.hex-candy.p-0
        .row.no-gutters.justify-content-center
            .col-md-12
                .row.no-gutters
                    .col-md-8
                        form.bg-hex-sweet.text-white.invoice-form(action="checkSuccess.html")
                            .form-group.pt-7.px-7.m-0
                                .form-row
                                    .form-group.col-md-6
                                        h3 電子發票
                                    .form-group.col-md-6.d-flex.align-items-center
                                        .process.d-flex.justify-content-between.w-100
                                            .line
                                            .circle.success.border-0.fas.fa-check-circle
                                            .circle.success.border-0.fas.fa-check-circle
                                            .circle.active
                                .form-row.h5
                                    .form-group.col-md-12
                                        .invoice-groud.w-100.d-flex.align-items-center.justify-content-center.mb-4
                                            a.btn-e-invoice.d-flex.align-items-center.justify-content-center.p-3.w-50.border.border-white.font-weight-bold.h5.active(href='#') 電子發票
                                            a.btn-invoice-addr.d-flex.align-items-center.justify-content-center.p-3.border.border-white.font-weight-bold.h5.w-50(href='#') 郵寄發票
                                    .form-group.col-md-12
                                        label(for='email') 電子信箱
                                        input#email.form-control.form-control-lg.rounded-0.bg-sweet-cover(type='email', placeholder='520@email.com')
                                    .form-group.col-md-12
                                        label(for='number') 統一編號(選填)
                                        input#number.form-control.form-control-lg.rounded-0.bg-sweet-cover(type='text', placeholder='1314520')
                            button.btn.btn-sweet.btn-lg.btn-block.rounded-0(type='submit') 送出
                        form.bg-hex-sweet.text-white.invoice-form-addr.d-none(action="checkSuccess.html")
                            .form-group.pt-7.px-7.m-0
                                .form-row
                                    .form-group.col-md-6
                                        h3 電子發票
                                    .form-group.col-md-6.d-flex.align-items-center
                                        .process.d-flex.justify-content-between.w-100
                                            .line
                                            .circle.success.border-0.fas.fa-check-circle
                                            .circle.success.border-0.fas.fa-check-circle
                                            .circle.active
                                .form-row.h5
                                    .form-group.col-md-12
                                            .invoice-groud.w-100.d-flex.align-items-center.justify-content-center.mb-4
                                                a.btn-invoice-addr.d-flex.align-items-center.justify-content-center.p-3.border.border-white.font-weight-bold.h5.w-50.active(href='#') 電子發票
                                                a.btn-e-invoice.d-flex.align-items-center.justify-content-center.p-3.w-50.border.border-white.font-weight-bold.h5(href='#') 郵寄發票
                                .form-row.h5
                                    .col-md-6.col-6
                                        .h5 地址
                                    .col-md-6.col-6.text-right
                                        input#exampleCheck1.form-check-input(type='checkbox')
                                        label.form-check-label.text-white.font-weight-bold(for='exampleCheck1') 同運送地址
                                .form-row.h5
                                    .form-group.col-md-6.col-6.mb-1
                                        select#inputState.form-control.form-control-lg.rounded-0.bg-sweet-cover
                                            option(selected='') 高雄市
                                            option 台北市
                                    .form-group.col-md-6.col-6.mb-1
                                        select#inputState.form-control.form-control-lg.rounded-0.bg-sweet-cover
                                            option(selected='') 三民區
                                            option 新興區
                                    .form-group.col-md-12
                                        input#inputAddress.form-control.form-control-lg.rounded-0.bg-sweet-cover(type='text', placeholder='幸福路 520號')
                                    .form-group.col-md-12
                                        label(for='number') 統一編號(選填)
                                        input#number.form-control.form-control-lg.rounded-0.bg-sweet-cover(type='text', placeholder='1314520')
                            button.btn.btn-sweet.btn-lg.btn-block.rounded-0.text-hex-sweet(type='submit') 送出
                    .col-md-4.d-none.d-md-block
                        .card.text-center.border-0.text-hex-sweet
                            .card-header.border-0.h3.p-5.bg-sweet-cover
                                | 訂單摘要
                            .card-body
                                .d-flex.justify-content-between
                                    p.card-title
                                        | 小計
                                    p.card-text
                                        | NT$ 2,700
                                .d-flex.justify-content-between
                                    p.card-title
                                        | 運費
                                    p.card-text
                                        | NT$ 300
                                .d-flex.justify-content-between.font-weight-bold.h5
                                    p.card-title
                                        | 總計
                                    p.card-text
                                        | NT$ 3,000
                        .card.text-center.border-0.text-hex-sweet
                            .card-header.border-0.h3.p-5.bg-sweet-cover
                                | 購物清單
                            .card-body
                                .d-flex.align-items-center
                                    .card-title
                                        img.img-fluid.mr-4(src="./images/choice-list/item1.jpg", alt="" width="120px" height="80px")
                                    .card-text
                                        | 焦糖馬卡龍（2）
                                        br
                                        | NT$ 900
                                .d-flex.align-items-center
                                    p.card-title
                                        img.img-fluid.mr-4(src="./images/choice-list/item1.jpg", alt="" width="120px" height="80px")
                                    p.card-text
                                        | 焦糖馬卡龍（2）
                                        br
                                        | NT$ 900
                                .d-flex.align-items-center
                                    p.card-title
                                        img.img-fluid.mr-4(src="./images/choice-list/item1.jpg", alt="" width="120px" height="80px")
                                    p.card-text
                                        | 焦糖馬卡龍（2）
                                        br
                                        | NT$ 900
block footer
    include layout/footer.pug