extend layout/layout.pug
block navbar
    - var path = 'index.html'
    include layout/navbar.pug
block content
    .load-page#load-page
        .page-logo
            img(src="./images/logo-dark.svg", alt="", srcset="" height= "50px" width= "50px")
        .page-text
            .preloader-box L
            .preloader-box O
            .preloader-box A
            .preloader-box D
            .preloader-box .
            .preloader-box .
            .preloader-box .
        .logo
            img(src="./images/logo-all-dark.svg", alt="", srcset="" width= "215px")
    section.container.px-0.px-md-3
        .banner
        .row.justify-content-center.align-items-center.banner-btn.no-gutters
                a.col-4.col-md-3(href="#")
                    .banner-btn-bg.active.d-flex.justify-content-center.align-items-center 今日推薦
                    .banner-bg-today(style="background-image: url(./images/btn-main/btn-main-1.jpeg);")
                a.col-4.col-md-3(href="#")
                    .banner-btn-bg.d-flex.justify-content-center.align-items-center 人氣推薦
                    .banner-bg-hot(style="background-image: url(./images/btn-main/btn-main-2.jpeg);")
                a.col-4.col-md-3(href="#")
                    .banner-btn-bg.d-flex.justify-content-center.align-items-center 新品上市
                    .banner-bg-new(style="background-image: url(./images/btn-main/btn-main-3.jpeg);")
    section.my-md-9
        .container
            .row
                .col-md-6.d-md-none.reason-md.d-flex.justify-content-center
                    img(src="./images/sm-橫式-為什麼選擇了做甜點.svg", alt="" width="226px").img-fluid.my-6
        .bg-reason
            .container
                .row.flex-md-row
                    .col-md-6.reason-img-bg
                        .reason(style="background-image: url(./images/reason1.jpg)").h-100.bg-cover
                    .col-md-6
                        .reason-text
                            img(src="./images/lg-為什麼選擇了做甜點.svg", alt="" width="89px").d-none.d-md-block.sweetImg.sweet-text-img
                            .reason-text-p.p-md-7.p-3
                                p 青山依舊在，幾度夕陽紅。慣看秋月春風。
                                p 一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                                p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
    section.my-md-9
        .container
            .row
                .col-md-6.d-md-none.reason-md.d-flex.justify-content-center
                    img(src="./images/sm-橫式-為什麼選擇了做甜點.svg", alt="" width="226px").img-fluid.my-6
        .bg-reason
            .container
                .row.flex-row-reverse
                    .col-md-6.reason-img-bg
                        .reason(style="background-image: url(./images/reason2.jpg)").h-100.bg-cover
                    .col-md-6
                        .reason-text
                            img(src="./images/lg-為什麼選擇了做甜點.svg", alt="" width="89px").d-none.d-md-block.sweetImg.sweet-text-img
                            .reason-text-p.p-md-7.p-3
                                p 青山依舊在，幾度夕陽紅。慣看秋月春風。
                                p 一壺濁酒喜相逢，浪花淘盡英雄。是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
                                p 是非成敗轉頭空，滾滾長江東逝水，白髮漁樵江渚上，古今多少事，都付笑談中。
    img(src="./images/sm-想吃甜點是不需要理由的.svg", alt="" width="89px").img-fluid.mx-auto.my-6.d-none.d-md-block
    img(src="./images/sm-橫式-想吃甜點是不需要理由的.svg", alt="" width="226px").img-fluid.mx-auto.my-6.d-block.d-md-none
    section.hex-candy
        .container
            .row
                .col-md-4.py-2
                    .card.text-center
                        .card-images
                            img(src="./images/choice-list/item1.jpg" alt="Card image cap" height="315px").img-fluid
                            .today-hot 今日推薦
                            .add-like-list
                                .like-heart-1
                                    i.far.fa-heart
                        .card-body.p-0
                            .product.d-flex.justify-content-betweenp
                                h5.card-title.m-0.w-100.border-right.text-hex-sweet.p-3 焦糖馬卡龍
                                p.card-text.font-weight-bold.h5.p-3.text-hex-sweet.w-100 NT$ 450
                            a.btn.btn-sweet-cover.btn-block.text-hex-sweet.rounded-0.font-weight-bold.btn-lg(href='cart.html') 加入購物車
                .col-md-4.py-2.d-none.d-md-block
                    .card.text-center
                        .card-images
                            img(src="./images/choice-list/item2.jpg" alt="Card image cap" height="315px").img-fluid
                            .today-hot 今日推薦
                            .add-like-list
                                .like-heart-2
                                    i.far.fa-heart
                        .card-body.p-0
                            .product.d-flex.justify-content-between
                                h5.card-title.m-0.w-100.border-right.text-hex-sweet.p-3 焦糖馬卡龍
                                p.card-text.font-weight-bold.h5.text-hex-sweet.w-100.p-3 NT$ 450
                            a.btn.btn-sweet-cover.btn-block.text-hex-sweet.rounded-0.font-weight-bold.btn-lg(href='cart.html') 加入購物車
                .col-md-4.py-2.d-none.d-md-block
                    .card.text-center
                        .card-images
                            img(src="./images/choice-list/item3.jpg" alt="Card image cap" height="315px").img-fluid
                            .today-hot 今日推薦
                            .add-like-list
                                .like-heart-3
                                    i.far.fa-heart
                        .card-body.p-0
                            .product.d-flex.justify-content-between
                                h5.card-title.m-0.w-100.border-right.text-hex-sweet.p-3 焦糖馬卡龍
                                p.card-text.font-weight-bold.h5.text-hex-sweet.w-100.p-3 NT$ 450
                            a.btn.btn-sweet-cover.btn-block.text-hex-sweet.rounded-0.font-weight-bold.btn-lg(href='cart.html') 加入購物車
block footer
    include layout/footer.pug