extend layout/layout.pug
block navbar
    - var path = 'index.html'
    include layout/navbar.pug
block content
    .banner
    .row.d-flex.justify-content-center.allig-item.center.text-center
        .col-md-10
            .row
                a.col-md-4(href="#")
                    | 今日推薦
                a.col-md-4(href="#")
                    | 人氣推薦
                a.col-md-4(href="#")
                    | 新品上市
    p
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet tempora alias nisi aut explicabo minus commodi culpa corporis ex delectus, eveniet nesciunt vero autem aliquam eligendi necessitatibus aperiam natus nam.
block footer
    include layout/footer.pug