extend layout/layout.pug
block navbar
    - var path = 'index.html'
    include layout/navbar.pug
block content
    p
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Amet tempora alias nisi aut explicabo minus commodi culpa corporis ex delectus, eveniet nesciunt vero autem aliquam eligendi necessitatibus aperiam natus nam.
block footer
    include layout/footer.pug