extend layout/layout.pug
block navbar
    - var path = "login.html"
    include layout/navbar.pug
block content
    .load-page#load-page
        .page-logo
            img(src="./images/logo-dark.svg", alt="", srcset="" height= "50px" width= "50px")
        .page-text
            .preloader-box L
            .preloader-box O
            .preloader-box A
            .preloader-box D
            .preloader-box .
            .preloader-box .
            .preloader-box .
        .logo
            img(src="./images/logo-all-dark.svg", alt="", srcset="" width= "215px")
    section.container.px-0.hex-candy
        .row.justify-content-center
            .col-md-10
                .row.no-gutters.flex-md-row-reverse
                    .col-md-6.py-md-4
                        h2.py-2.text-white.text-center.font-weight-bold.py-7.bg-hex-sweet.d-block.d-md-none.m-0 會員登入
                        .community.p-6.text-center.text-hex-sweet.bg-sweet-cover
                            h5.d-none.d-md-block —— 連結社群帳號 ——
                            .row
                                .col-4.col-md-12.my-3
                                    button.btn.btn-light.btn-block.btn-lg
                                        img.img-fluid(src="./images/ic-facebook-logotype.svg", alt="facebook" width="108")
                                .col-4.col-md-12.my-3
                                    button.btn.btn-light.btn-block.btn-lg
                                        img.img-fluid(src="./images/ic-google.svg", alt="google" width="73")
                                .col-4.col-md-12.my-3
                                    button.btn.btn-light.btn-block.btn-lg
                                        img.img-fluid(src="./images/ic-yahoo.svg", alt="yahoo" width="97")
                    .col-md-6
                        form.bg-hex-sweet.text-center.pt-4
                            h2.py-2.text-white.font-weight-bold.py-7.d-none.d-md-block.m-0 會員登入
                            .form-group.px-6
                                .form-group
                                    .input-group-prepend
                                        .input-group-text.input-lg.bg-sweet-cover.border-0
                                            i.fas.fa-user
                                        input#exampleInputEmail1.form-control.rounded-0.border-0.p-6.bg-sweet-cover(type='email', aria-describedby='emailHelp', placeholder='電子信箱/手機號碼')
                                .form-group
                                    .input-group-prepend
                                        .input-group-text.bg-sweet-cover.border-0
                                            i.fas.fa-key
                                        input#exampleInputPassword1.form-control.rounded-0.text-hex-sweet.border-0.p-6.bg-sweet-cover(type='password', placeholder='請輸入使用者密碼')
                            .form-group.px-6
                                .form-check.text-left
                                    input#exampleCheck1.form-check-input(type='checkbox')
                                    label.form-check-label.text-white.font-weight-bold(for='exampleCheck1') 忘記我
                            button.btn.btn-sweet.btn-lg.p-3.rounded-0.btn-block.text-hex-sweet.font-weight-bold(type='submit') 登入帳號
block footer
    include layout/footer.pug