extend layout/layout.pug
block navbar
    - var path = 'product.html'
    include layout/navbar.pug
block content
    section.container.p-0
        .product-banner
    section.container.px-md-0.hex-candy
        .row.no-gutters
            .col-md-4
                .list-group.text-center.py-4.py-md-0.px-md-2
                    .h4.text-sweet-cover.font-weight-bold.bg-hex-sweet.py-3.m-0 甜點類別
                    a.list-group-item.list-group-item-action.active.font-weight-bold.h4(href="") 
                        | 所有甜點
                        .badge.badge-hex-sweet.badge-pill 48
                    a.list-group-item.list-group-item-action.h4(href="") 
                        | 本日精選
                        .badge.badge-hex-sweet.badge-pill 10
                    a.list-group-item.list-group-item-action.h4(href="") 
                        | 人氣推薦
                        .badge.badge-hex-sweet.badge-pill 26
                    a.list-group-item.list-group-item-action.h4(href="") 
                        | 新品上市
                        .badge.badge-hex-sweet.badge-pill 12
                    a.list-group-item.list-group-item-action.disabled.h4(href="") 
                        | 消失品
                        .badge.badge-hex-sweet.badge-pill 0
            .col-md-8
                .row.no-gutters
                    .col-md-6.px-4.pb-4
                        .card.text-center
                            .card-images
                                img(src="./images/choice-list/item1.jpg" alt="Card image cap" height="315px").img-fluid
                                .today-hot 今日推薦
                                .add-like-list
                                    .like-heart-1
                                        i.far.fa-heart
                            .card-body.p-0
                            .product.d-flex.justify-content-between
                                h5.card-title.m-0.w-100.border-right.text-hex-sweet.p-3 焦糖馬卡龍
                                p.card-text.font-weight-bold.h5.text-hex-sweet.w-100.p-3 NT$ 450
                            a.btn.btn-sweet-cover.btn-block.text-hex-sweet.rounded-0.font-weight-bold.btn-lg(href='cart.html') 加入購物車
                    .col-md-6.px-4.pb-4
                        .card.text-center
                            .card-images
                                img(src="./images/choice-list/item2.jpg" alt="Card image cap" height="315px").img-fluid
                                .today-hot 今日推薦
                                .add-like-list
                                    .like-heart-2
                                        i.far.fa-heart
                            .card-body.p-0
                            .product.d-flex.justify-content-between
                                h5.card-title.m-0.w-100.border-right.text-hex-sweet.p-3 焦糖馬卡龍
                                p.card-text.font-weight-bold.h5.text-hex-sweet.w-100.p-3 NT$ 450
                            a.btn.btn-sweet-cover.btn-block.text-hex-sweet.rounded-0.font-weight-bold.btn-lg(href='cart.html') 加入購物車
                    .col-md-6.px-4.pb-4
                        .card.text-center
                            .card-images
                                img(src="./images/choice-list/item3.jpg" alt="Card image cap" height="315px").img-fluid
                                .today-hot 今日推薦
                                .add-like-list
                                    .like-heart-3
                                        i.far.fa-heart
                            .card-body.p-0
                            .product.d-flex.justify-content-between
                                h5.card-title.m-0.w-100.border-right.text-hex-sweet.p-3 焦糖馬卡龍
                                p.card-text.font-weight-bold.h5.text-hex-sweet.w-100.p-3 NT$ 450
                            a.btn.btn-sweet-cover.btn-block.text-hex-sweet.rounded-0.font-weight-bold.btn-lg(href='cart.html') 加入購物車
                    .col-md-6.px-4.pb-4.d-none.d-md-block
                        .card.text-center
                            .card-images
                                img(src="./images/choice-list/item1.jpg" alt="Card image cap" height="315px").img-fluid
                                .today-hot 今日推薦
                                .add-like-list
                                    .like-heart-4
                                        i.far.fa-heart
                            .card-body.p-0
                            .product.d-flex.justify-content-between
                                h5.card-title.m-0.w-100.border-right.text-hex-sweet.p-3 焦糖馬卡龍
                                p.card-text.font-weight-bold.h5.text-hex-sweet.w-100.p-3 NT$ 450
                            a.btn.btn-sweet-cover.btn-block.text-hex-sweet.rounded-0.font-weight-bold.btn-lg(href='cart.html') 加入購物車
                    .col-md-6.px-4.pb-4.d-none.d-md-block
                        .card.text-center
                            .card-images
                                img(src="./images/choice-list/item2.jpg" alt="Card image cap" height="315px").img-fluid
                                .today-hot 今日推薦
                                .add-like-list
                                    .like-heart-5
                                        i.far.fa-heart
                            .card-body.p-0
                            .product.d-flex.justify-content-between
                                h5.card-title.m-0.w-100.border-right.text-hex-sweet.p-3 焦糖馬卡龍
                                p.card-text.font-weight-bold.h5.text-hex-sweet.w-100.p-3 NT$ 450
                            a.btn.btn-sweet-cover.btn-block.text-hex-sweet.rounded-0.font-weight-bold.btn-lg(href='cart.html') 加入購物車
                    .col-md-6.px-4.pb-4.d-none.d-md-block
                        .card.text-center
                            .card-images
                                img(src="./images/choice-list/item3.jpg" alt="Card image cap" height="315px").img-fluid
                                .today-hot 今日推薦
                                .add-like-list
                                    .like-heart-6
                                        i.far.fa-heart
                            .card-body.p-0
                            .product.d-flex.justify-content-between
                                h5.card-title.m-0.w-100.border-right.text-hex-sweet.p-3 焦糖馬卡龍
                                p.card-text.font-weight-bold.h5.text-hex-sweet.w-100.p-3 NT$ 450
                            a.btn.btn-sweet-cover.btn-block.text-hex-sweet.rounded-0.font-weight-bold.btn-lg(href='cart.html') 加入購物車
                nav(aria-label='Page navigation example')
                        ul.pagination.pagination-lg.justify-content-center
                            li.page-item.disabled
                                a.page-link(href='#', aria-label='Previous')
                                    span(aria-hidden='true') «
                                    span.sr-only Previous
                            li.page-item.active
                                a.page-link(href='#') 1
                            li.page-item
                                a.page-link(href='#') 2
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#', aria-label='Next')
                                    span(aria-hidden='true') »
                                    span.sr-only Next
block footer
    include layout/footer.pug